<div id="footer">
		<div  class="container" >
		<div class="row text-center" id="#exp_until">
			<div class="col-md-4" id="footer_text">
				<ul>
					<h3>关于我们</h3>
					<li><a href="#">招贤纳士</a></li>
					<li><a href="#">更多案例</a></li>
					<li><a href="#">关于我们</a></li>
				</ul>
			</div>
			<div class="col-md-4" id="footer_text">
				<ul style="list-style-type:none;">
					<h3>联系我们</h3>
					<li><span class="glyphicon glyphicon-phone">&nbsp;</span>手机：15843933309</li>
					<li><span class="glyphicon glyphicon-phone-alt">&nbsp;</span>传真：0439-5050369</li>
					<li><span class="glyphicon glyphicon-globe">&nbsp;</span>网址：www.cblwgzt.com</li>
					<li><span class="glyphicon glyphicon-envelope">&nbsp;</span>E-mail:ljtysx909@163.com</li>
					<li><span class="glyphicon glyphicon-map-marker">&nbsp;</span>邮编：134600</li>
					<li><span class="glyphicon glyphicon-home">&nbsp;</span>销售中心：吉林省临江市兴隆小区32号</li>
					<li><span class="glyphicon glyphicon-road">&nbsp;</span>厂址：吉林省长白县八道沟镇马鞍山村</li>

				</ul>
			</div>
			<div class="col-md-4" id="footer_text">
				<ul>
					<h3>扫码联系我们</h3>
					<img width="150px;"src="__PUBLIC__/Home/img/qrcode.png">
				</ul>
			</div>
		</div>
		</div>
	</div><!--footer-->
	<div id="footer_info">
		<p class="text-center">吉林省长白朝鲜族自治县立伟硅藻土综合制品有限公司&nbsp;&nbsp;&nbsp;吉ICP备13001641号-1</p>
	</div>
	 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/Home/js/modernizr.custom.js"></script>
	<script src="__PUBLIC__/Home/js/cbpHorizontalMenu.min.js"></script>
		<script>
			$(function() {
				cbpHorizontalMenu.init();
			});
		</script>
</body>
</html>