<include file='Common:header'/>
  <body id="login_bg">
    <div class="text-center">
    <form id="login_form" action="{:U('Admin/Login/login')}" method="post">
    <h1 id="login_title"><b>嗯！FM</b></h1>
    <div class="input-group" id="input_group">
    <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-user"></span></span>
      <input type="text" name="username" class="form-control" placeholder="请输入用户名" aria-describedby="sizing-addon1">
    </div>
    <div class="input-group" id="input_group">
    <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-asterisk"></span></span>
      <input type="password" name="password" class="form-control" placeholder="请输入密码" aria-describedby="sizing-addon1">
    </div>
    <div class="input-group" id="input_group">
    <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-barcode"></span></span>
      <input type="text" name="verify" class="form-control" placeholder="请输入验证码" aria-describedby="sizing-addon1">
    </div>
    <img id="verify_img" alt="验证码" src="{:U('Admin/Login/verify')}" onClick="this.src='{:U('Admin/Login/verify')}/'+Math.random()">
    <input id="login_button" type="submit" class="btn btn-primary btn-lg btn-block" value="提交">
    </form>
    </div>
  </body>
</html>